// 1. Your custom variables and variable overwrites.

header {
    font-family: 'IndustryInc-Base'
}

body {
    margin-top: 0;
    background-color: #14171a;
    height: 100vh;
}

.gameday-header {
    color: #14171a;
}

.gameday-slogan,
.uk-card-title,
p {
    color: #fff;
}

.uk-card {
    height: 100px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.plans-button {
    border-radius: 100px;
}

.colored-tab {
    width: 5px;
    height: 100%;
    background-color: #0093ee;
    border-radius: 1px;
    margin-right: 15px;
    float: left;
}

$base-heading-font-family:'IndustryInc-Base';

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme";
@import "../../node_modules/uikit/src/scss/mixins-theme";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme";

